* {
    margin: 0%;
    padding: 0;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    background-color: #c5c0c0;
}

/* .black {
    padding: 15px;
    background: #000000;
    color: #fff;
    margin: 10px 0 10px 0;
}*/

/* ------Header----- */
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #000000;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #f3d215 3px solid;
}

header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul {
    margin: 0;
    padding: 0;
}

header li {
    display: inline;
    padding: 0 20px 0 20px;
}

header nav {
    float: right;
    padding-top: 20px;
}

header .highlight {
    color: #f3d215;
    font-weight: bold;
}

header a:hover {
    color: #f3d215;
    font-weight: bold;
}

#logo {
    float: left;
    margin: 0;
}

/* ----Showcase---- */
#showcase {
    background: url('./images/showcase1.jpg') no-repeat 0 -50px;
    background-position: center right;
    background-size: cover;
    min-height: 400px;
    margin-bottom: 20px;
    text-align: center;
    color: rgb(255, 255, 255);
}

#showcase h1 {
    margin-top: 100px;
    font-size: 50px;
    margin-bottom: 15px;
}

#showcase p {
    font-size: 20px;
}

/* ----Boxes---- */

#boxes .box{
    width: 20%;
    float: left;
    padding: 10px;
    text-align: center;
}
#boxes .box:hover
{
    background: rgb(241, 186, 4);
    cursor: pointer;
    transition: .5s;
}

#boxes .box img {
    width: 70%;
}

#boxes .box h4 {
    font-weight: bold;
}

/* ----sidebar---- */
aside #sidebar {
    float: left;
    width: 30%;
    margin-top: 10px;
}

#sidebar a {
    text-decoration: none;
    color: #2f2be4;
}

#sidebar a:hover {
    color: #700202;

}
/* ----Properties----*/
#properties .box {
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    width: 20%;
    float: right;
    padding: 10px;
    text-align: center;
}

#properties .box:hover
{
    background: rgb(255, 255, 255);
    cursor: pointer;
    transition: .10s;
}

#properties .box a {
    color: #2f2be4;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 10px;
}

#properties .box img {
    width: 100%;
}

#properties .box h4 {
    font-weight: bold;
}

footer {
    padding: 20px;
    margin-top: 20px;
    color:#f3d215;
    background-color: #000000;
    text-align: center;
    font-size: 10px;
}